In [68]:
name = "Wirya"
age = 19
address,province = "Cibadak","7413412"
pythonScore = 90,5
isMarried = True

print("Nama :",name)
print("Umur :",age)
print("Alamat :", address)
print("Provinsi :",province)
print("Nilai Pemrograman :",pythonScore)
print("Status Menikah :",isMarried)

Nama : Wirya
Umur : 19
Alamat : Cibadak
Provinsi : 7413412
Nilai Pemrograman : (90, 5)
Status Menikah : True

In [38]:
print("Tipe Data (nama) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (scorePython) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (scorePython) : <class 'tuple'>
Tipe Data (isMarried) : <class 'bool'>

In [94]:
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intTofloat,intToBool)

floatTostr = str(pythonScore)
floatToint = int(pythonScore)
floatTobool = bool(pythonScore)
print (floatTostr,floatToint,floatTobool)

boolTostr = str(isMarried)
boolToint = int(isMarried)
boolTofloat = float(isMarried)
print(boolTostr,boolToint,boolTofloat)

tupleTostr = str(isMarried)
tupleToint = int(isMarried)
tupleTobool = bool(isMarried)
print(tupleTostr,tupleToint,tupleTobool)

7413414 7413412.0 True

NameError: name 'intTofloat' is not defined

In [58]:
city = "Sukabumi"
panjang = len(city)
print(city[0])
print(city[panjang-1])

S
i

In [66]:
desimal = 500
biner = 0b1111
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("biner dari ",desimal,":",bin(desimal))
print("octal dari ",desimal,":",oct(desimal))
print("hexadesimal dari ",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 15
Nilai octal: 255
Nilai hexa: 255
biner dari  500 : 0b111110100
octal dari  500 : 0o764
hexadesimal dari  500 : 0x1f4

In [88]:
cities = ["Sukabumi","Malang","Bandung","Surabaya"]
print(cities)
print(cities[0])
print(cities[len(cities)-1 ])
cities[1] ="jakarta"
print(cities)

hobbies = ("Basket","Sholat","foot Ball")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "watching Netflix" eror program
studentData = {
    "name" : "Wirya",
    "age" : 19,
    "address" : {
        "street" : "Cibadak",
        "number" 80,
        "provinsi" :"Kab,sukabumi"

}
}
print(studentData)
print(studentData["name"])
print(studentData["address"] ["province"])

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
['Sukabumi', 'jakarta', 'Bandung', 'Surabaya']
('Basket', 'Sholat', 'foot Ball')
Basket
{'name': 'Wirya', 'age': 19, 'address': {'street': 'Cibadak', 'number': 80, 'province': 'Kab,sukabumi'}}
Wirya
Kab,sukabumi